.home {
    width: 100%;  
    overflow: scroll;
    height: calc(100vh - 70px);
}

.home h1 {
    padding-top: 50px;
    margin-left: 10%;
}
.demoBox {
    column-width: 250px;
    margin: 0 auto;
    padding: 0 10px;
}
.photoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 10px grey;
    margin: 0 0 20px 0;
    -webkit-column-break-inside: avoid;
}
.photoBox img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}
.photoBox i {
    font-size: 24px;
    margin-top: -5px;
}
.addBox {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    width: 150px;    
    height: 40px;
    border-radius: 5px;
}
.addBox > *{
    margin-top: 10px;
}
.addBox:hover {
    background: linear-gradient(202.17deg, #FF00D6 8.58%, #FF4D00 91.42%);
    box-shadow: 0 3px 10px 1px rgb(0, 0, 0);
}
.addBox:active{
    box-shadow: 0 1px 1px 1px rgb(0, 0, 0);
}
h3 {
    margin: 3px 10px 10px;
}
