@keyframes slidePhoto {from { margin-top:300%; } to { margin-top:0; } }

.photoBlock {
    position: absolute;
    z-index: 2;
    align-items: center;
    gap: 15px;
    grid-template-columns: 1fr;
    overflow: scroll;
    height: 73.8vh;
    width: 260px;
    padding: 20px 10px 0 10px;
    right: 0;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    animation: slidePhoto 0.5s ease  0s 1 normal;
    box-shadow: 0 2px 10px black;
}
.photoBlock img{
    width: 100%;
    transition: 0.3s;
    border-radius: 5px;
}
.photoBox img:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 10px black;
}