.loggedOutForm {
    width: 100%;
}

.iconBox {
    background-image: url('../../assets/images/logoutBG.svg');
    background-size: cover;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logBox {
    display: flex;
    justify-content: center;
}

a {
    width: 50%;
}

.logBox button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    transition: 0.3s;
    margin-top: 6%;
    margin-left: 5%;
    outline: none;
    text-transform: uppercase;
    width: 90%;
    height: 80%;
    padding: 25px 12px 25px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.loginBtn {
    background-color: #fff;
    margin-right: 2%;
    border: 2px solid black;
}

.regBtn {
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: 2px solid black;
}

.loginBtn:active{
    background-color: black;
    color: white;
}
.regBtn:active {
    background-color: white;
    color: black;
}