.loggedOutForm {
    width: 100%;
}

.iconBox {
    background-image: url('../../assets/images/logoutBG.svg');
    background-size: cover;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconBox img {
    width: 50vw;
    min-width: 230px;
    max-width: 500px;
} 

.logBox {
    display: flex;
    justify-content: space-evenly;
}

a {
}

.logBox button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    transition: 0.3s;
    margin: 2vh auto;
    outline: none;
    text-transform: uppercase;
    width: 25vw;
    max-width: 250px;
    min-width: 120px;
    height: 70px;
    padding: 25px 12px 25px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.loginBtn {
    background-color: #fff;
    margin-right: 2%;
    border: 2px solid black;
}

.regBtn {
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: 2px solid black;
}
.logBox button:hover {
    box-shadow: 0 0 10px 2px black;
}
.logBox button:active {
    box-shadow: 0 0 10px black;
}
.loginBtn:active{
    background-color: black;
    color: white;
}
.regBtn:active {
    background-color: white;
    color: black;
}