.addPhotoPage {
    width: 100%;    
}
.addPhotoPage h1 {
    padding-top: 50px;
    margin-left: 10%;
}
.searchBox {
    margin: 0 auto;
    width: 50vw;
    min-width: 280px;
    max-width: 800px;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.searchBox input {
    width: 40vw;
    min-width: 250px;
    max-width: 500px;    font-size: 20px;
    transition: .2s;
    height: 30px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}
.searchBox input:active {
    box-shadow: 0 0 2px black;
}
.searchBox button {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    transition: .3s;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    text-transform: capitalize;
}
.searchBox button:hover {
    box-shadow: 0 4px 14px black;
}
.searchBox button:active {
    box-shadow: 0 1px 7px black;
    
    background: linear-gradient(202.17deg, #FF00D6 8.58%, #FF4D00 91.42%);
}
