.userPhoto{ 
    column-width: 250px;
    margin: 0 auto;
    padding: 0 10px;
}
.userPhoto .photoBox{
    width: 100%;
    transition: .5s;
    margin-bottom: 20px;
    box-shadow: 0 0 10px grey;
    border-radius: 5px;
    -webkit-column-break-inside: avoid;
}
.userPhoto img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}
.photoBox i {
    margin-left: 46%;
    font-size: 30px;
    transition: .3s;
}
.photoBox i:hover {
    color: red;
}
.photoBox i:active {
    transform: scale(1.5) rotate(360deg);
}
