    .userPhoto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 47%;
    width: 100%;
}
.userPhoto .photoBox{
    width: 46%;
    margin: 0 10px 20px;
    transition: .5s;
}
.userPhoto img {
    border-radius: 5px;
    width: 100%;
}
.photoBox i {
    margin-left: 46%;
    font-size: 30px;
    transition: .3s;
}
.photoBox i:hover {
    color: red;
}
.photoBox i:active {
    transform: scale(1.5) rotate(360deg);
}
@media (max-width: 500px) {
    .userPhoto .photoBox{
        width: 92%;
    }
}