.App {
  height: calc(100vh - 70px);
  max-width: 1024px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 2px 18px grey;
  font-family: sans-serif;
}
button, input {
  outline: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar{
  display: none;
}
