.burger {
    font-size: 40px;
    position: absolute;
    right: 25px;
    top: 6%;
    transition: 0.05s;
    
}
.burger:active{
    transform: rotate(45deg);
}
.burgerMenu {
    padding: 3px 3px 0 3px;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 25px;
    top: 12%;
    transition: 1s;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
}
.burgerMenu button {
    font-weight: 600;
    background: white;
    border-radius: 10px;
    margin-bottom: 5px;
    border: none;
    width: 180px;
    height: 40px;
    transition: 0.3s;
    text-transform: uppercase;
    box-shadow: 0 0 6px grey;
}
.burgerMenu button:hover{
    background: linear-gradient(202.17deg, #FF00D6 8.58%, #FF4D00 91.42%);
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
    transform: scale(1.05);
}
.burgerMenu button:active {
    background: linear-gradient(202.17deg, #FF4D00 8.58%, #FF00D6 91.42%);
}